.rbs *,
.rbs *::before,
.rbs *::after {
  box-sizing: border-box;
}

/* Text Styles */
.rbs .header1-text {
  font-size: 25px;
  color: #90cdf9;
  font-weight: 500;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.rbs .header2-text,
.rbs .header3-text,
.rbs .base-text,
.rbs .help-text,
.rbs .disabled-text {
  font-size: 12px;
  font-weight: 500;
}

.rbs .header2-text {
  font-size: 14px;
}

.rbs .help-text {
  color: #999;
}

.rbs .disabled-text {
  color: #ccc;
}

/* Scheduler Components */
.rbs {
  margin: 20px auto;
  border-spacing: 0;
}

.rbs td {
  padding: 0;
}

.rbs .resource-view {
  border: 1px solid #e9e9e9;
}

.rbs .scheduler-view {
  border: 1px solid #e9e9e9;
  margin: 0 0 0 -1px;
  padding: 0;
}

/* Positioning */
.rbs .scheduler-content {
  position: relative;
  z-index: 2;
}

.rbs .scheduler-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.rbs .expander-space {
  overflow: hidden;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 0.9em;
  vertical-align: middle;
  margin-top: -1%;
}

/* Tables */
.rbs table.resource-table,
.rbs table.scheduler-bg-table,
.rbs table.scheduler-table,
.rbs table.scheduler-content-table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
}

.rbs table.resource-table,
.rbs table.scheduler-bg-table,
.rbs table.scheduler-table {
  text-align: center;
}

.rbs table.scheduler-table {
  border: 1px solid #e9e9e9;
}

.rbs table.scheduler-content-table {
  border: 0 solid #e9e9e9;
}

/* Table Borders */
.rbs table.resource-table tr,
.rbs table.scheduler-bg-table tr,
.rbs table.scheduler-table tr {
  border-bottom: 1px solid #e9e9e9;
}

.rbs table.resource-table th,
.rbs table.scheduler-table th,
.rbs table.resource-table td,
.rbs table.scheduler-bg-table td,
.rbs table.scheduler-table td,
.rbs table.scheduler-bg-table th {
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.rbs table.resource-table tr th:last-child,
.rbs table.scheduler-table tr th:last-child,
.rbs table.resource-table tr td:last-child,
.rbs table.scheduler-table tr td:last-child {
  border-right: 0;
}

.rbs table.scheduler-table tr:last-child td {
  border-bottom: 0;
}

/* Events */
.rbs .timeline-event {
  position: absolute;
  cursor: pointer;
}

.rbs .day-event {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.rbs .day-event-container {
  text-align: left;
  padding: 5px 5px 0;
}

.rbs .event-container {
  position: relative;
}

.rbs .event-item {
  margin: 1px 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  padding-right: 20px !important;
}

/* Rounded Borders */
.rbs .round-all {
  border-radius: 14px;
}

.rbs .round-head {
  border-radius: 14px 0 0 14px;
}

.rbs .round-tail {
  border-radius: 0 14px 14px 0;
}

.rbs .round-none {
  border-radius: 0;
}

/* Utilities */
.rbs .overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px !important;
}

.rbs .status-dot {
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.rbs .selected-area {
  position: absolute;
}

/* Slots and Cells */
.rbs .slot-cell,
.rbs .slot-text {
  padding-left: 4px;
  padding-right: 4px;
}

.rbs .slot-text {
  display: inline-block;
}

.rbs .icon-nav:hover {
  color: #1e90ff !important;
  box-shadow: 0 0 0 !important;
  cursor: pointer;
}

/* Popover and Overlay */
.rbs-add-more-popover-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbs-popover-calendar {
  width: 300px;
}

/* Resizable Elements */
.rbs .event-resizer {
  position: absolute;
  z-index: 4;
  display: block;
  width: 7px;
  top: -1px;
  bottom: -1px;
}

.rbs .event-start-resizer {
  cursor: w-resize;
  left: -1px;
}

.rbs .event-end-resizer {
  cursor: e-resize;
  right: -1px;
}

/* Buttons */
.rbs-txt-btn-dis {
  border: none;
  background-color: transparent;
}
